.bar-area {
border-bottom: 2px solid hsl(27, 66%, 92%);
margin-bottom: 1rem;
}

.bar-list {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  /* display: none; */
}

.single-day {
  background-color: white;
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  margin: 0 10px;
}

.single-bar {
  background-color: hsl(10, 79%, 65%);
  border-radius: 5px;
  width: 100%;
}

.wednesday{
  background-color: hsl(186, 34%, 60%);
}

.balance-info {
  background-color: hsl(10, 79%, 65%);
  border-radius: 10px;
  padding: 15px;
  color: white;
  width: 30rem;
  max-width: 85vw;
  display: flex;
}

.balance-info div {
  width: 80%;
}

.spending-info {
  width: 30rem;
  max-width: 85vw;
  margin: 20px auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.spending-info h2 {
  color: hsl(25, 47%, 15%);
}

.monthly-stats>div {
  display: flex;
}


.monthly-stats h2 {
  /* width: 50%; */
  flex: 0.5;
  font-size: 35px;
}

.monthly-change {
  flex: 0.5;
  text-align: right;
}

.monthly-change p:first-child {
  font-weight: bold;
  color: hsl(25, 47%, 15%);
}

.attribution {
  /* background-color: red; */
  width: 350px;
  position: absolute;
  bottom: 7px;
  left: calc(50% - 175px);
}

@media (max-width: 500px) {
  .balance-info {
    max-width: 90vw;
  }

  .single-day {
    margin: 0 5px;
  }

  .spending-info {
    max-width: 90vw;
    padding: 10px;
  }

  .attribution {
    font-size: 12px;
    width: 260px;
    left: calc(50% - 130px);
  }
}

@media (max-width: 330px) {
  .balance-info {
    max-width: 95vw;
  }

  .balance-info h1{
    font-size: 26px;
  }

  .single-day{
    font-size: 13px;
    margin: 0 3px;
  }

  .spending-info h2{
    font-size: 20px;
  }

  .monthly-stats h2{
    font-size: 26px;
  }
}
